<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the students   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class="table table-hover table-striped table-sortable" *ngIf='students && students.length'>
                <thead>
                    <tr>
                        <th *ngFor="#column of columns" [class]="selectedClass(column.variable)" (click)="changeSorting(column.variable)">
                            {{column.display}}
                        </th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='#student of students | studentFilter:listFilter | orderBy : convertSorting()'>
                        <td *ngFor="#column of columns">
                            {{student[column.variable] | format : column.filter}}
                        </td>
                        <td><a class="btn mini blue-stripe" [routerLink]="['StudentDetail',{id: student.studentId}]">Edit</a></td>
                        <td><a class="btn mini blue-stripe" [routerLink]="['StudentDetail',{id: student.studentId}]">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>