<div class='panel panel-primary' *ngIf='student'>
    <div class='panel-heading' style='font-size:large'>
        {{pageTitle }}
    </div> 

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>name:</div>
                    <div class='col-md-6'> <input [(ngModel)]="student.name"/></div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>department:</div>
                    <div class='col-md-6'> <input [(ngModel)]="student.department"/></div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>programtype:</div>
                     <div class='col-md-6'> <input [(ngModel)]="student.programtype"/></div>
                </div>
                  <div class='row'>
                    <div class='col-md-3'>yearjoined:</div>
                     <div class='col-md-6'> <input [(ngModel)]="student.yearjoined"/></div>
                </div>
                  <div class='row'>
                    <div class='col-md-3'>yearcomplete:</div>
                     <div class='col-md-6'> <input [(ngModel)]="student.yearcomplete"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
    <div>
     <button class="btn btn-lg btn-primary btn-block"  (click)="createStudentEvent()">Create</button>
     </div>
</div>

