<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the students   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-2'>
                <select class="form-control" #selectdrop (change)="changeSelect(selectdrop.value)">
                    <option *ngFor="let column of columns" value={{column.variable}}>
                            {{column.display}}
                    </option>
                </select>

            </div>
            <div class='col-sm-3'>
                <input type='text' [(ngModel)]='listFilter' />
                <!--<input type='text' #filterValue (keyup)="0"/>-->
            </div>
            <div class='col-md-3'>
                <button class="btn btn-sm btn-primary btn-block" [routerLink]="['StudentCreate']">Create Student</button>
            </div>
        </div>

        <div class='row' *ngIf='listFilter'>
            <div class='col-md-6'>
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>
        <!--<div class='row'>
            <div class='col-md-7'>
        <button class="btn btn-sm btn-primary btn-block"  (click)="deleteStudentEvent(student.id)">Create</button>
            </div>
        </div>-->


        <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>

        <div class='table-responsive'>
            <table class="table table-hover table-striped table-sortable" *ngIf='students && students.length'>
                <thead>
                    <tr>
                        <th *ngFor="let column of columns" [class]="selectedClass(column.variable)" (click)="changeSorting(column.variable)">
                            {{column.display}}
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let student of students| studentFilter:listFilter:columnName| orderBy : convertSorting()'>
                        <td *ngFor="let column of columns">
                            {{student[column.variable] | format : column.filter}}
                        </td>

                        <td><button class="btn btn-sm btn-primary btn-block" [routerLink]="['StudentDetail',{id: student.id}]">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary btn-block" (click)="deleteStudentEvent(student.id,i)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>